.lab {

  width: 100%;

  .step {
    width: 50px;
    border: 2px solid #000000;
    height: 50px;
    position: relative;
    > div {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.25);
    }
    &.full {
      background-color: green;
    }
  }
}
